<ion-view title="Training &amp; Exams" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/CmZTjsYKT7GTAXHz6HJd_training banner.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
		
		<br>

        <ion-list>
        	<div ng-repeat="step in steps">
          		<ion-item class="item-stable item-calm item-text-wrap"
                    ng-click="toggleStep(step)"
                    ng-class="{active: isStepShown(step)}">
              			<i class="icon" ng-class="isStepShown(step) ? 'ion-minus' : 'ion-plus'"></i>
            			&nbsp;
            			<strong> {{ step.number }}:</strong>
            			<br>
            			{{ step.title }}
          		</ion-item>
          		<ion-item class="item-accordion item-text-wrap"
                    ng-show="isStepShown(step)">
            			{{ step.body }}
          		</ion-item>
        	</div>
      	</ion-list>
    </ion-content>
</ion-view>